
.btn {
    width: 70px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    outline: transparent;
    border-radius: 5px;
    background-color: aquamarine;
    transition: background-color 250ms ease-in-out;
}

.btn:hover {
    background-color: aqua;
}

.options {
    display: flex;
    gap: 15px;
}

.resetBtn {
    display: none;
}